#loader-container {
    position: relative;
    width: 190px;
    height: 190px;
}

#loader-animation-modal {
    border: 1px solid #EEE;
    border-radius: 7px;
    padding: 5px;
    width: 190px;
    height: 190px;
    position: absolute;
    opacity: 1;
    background-color: #FFF;
    box-shadow: 0 0 2px #000;
}

.footprint-animation {
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0;
    top: 65px;
    left: 80px;
}

#loader-container > #loader-message {
    position: absolute;
    top: 150px;
    width: 100%;
    text-align: center;
    animation: load-blink 1.5s infinite ease-in-out;
}

#loader-animation-body-cover {
    position: absolute;
    background-color: black;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0px;
}

@keyframes walk-blink {
    from {
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}

@keyframes load-blink {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}